form .form-control {
    width: 25vw;
}

.container {
    padding:12px;
    margin: 20px;
}

section {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}

.search {
    display: flex;
    flex-direction: row;
}

.list {
    width: 75rem;
}

.list #personal-search {
    width: 385.08px;
}